[submodule "poucontracts/lib/forge-std"]
	path = poucontracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "poucontracts/lib/openzeppelin-contracts"]
	path = poucontracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
