.title {
    background: linear-gradient(180deg, #065c6c, rgb(60, 126, 196), rgb(60, 126, 196), #065c6c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.content .left {
    animation: scrollTop 15s linear infinite;
}

.content .right {
    animation: scrollBottom 15s linear infinite;
}

.top{
    animation: scrollLeft 15s linear infinite;
}

.bottom{
    animation: scrollRight 15s linear infinite;
}

@keyframes scrollLeft {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-101%, 0);
    }
}

@keyframes scrollRight {
    0% {
        transform: translate(0%, 0);
    }

    100% {
        transform: translate(101%, 0);
    }
}

@keyframes scrollTop {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -101%);
    }
}

@keyframes scrollBottom {
    0% {
        transform: translate(0, -101%);
    }

    100% {
        transform: translate(0, 0%);
    }
}

/* .btn {
    --color: rgb(60, 126, 196);
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   } */